body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.avat {
  border-radius: 50%;
}

.header::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url('https://i.imgur.com/9dUr8wo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.header:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.header:hover .header-content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.header-content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.header-content .logo {
  height: 100px;
  width: 100px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  color: #333;
}

.header-content .text {
  line-height: 1.7;
  margin-top: 1rem;
  color: black;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
  grid-gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
  grid-gap: 20px;
}

.grid-2 {
  display: grid;
  grid-grap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.text-center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-dark {
  background: #2f3542;
  color: #f4f4f4;
}

.services {
  padding: 2rem 0;
}

footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 560px) {
  .header::after {
    height: 50vh;
  }
  
  .header-content {
    top: 5%;
    margin-top: 5px;
  }

  .header-content .logo {
    height: 140px;
    width: 140px;
  }

  .header-content .text {
    display: none;
  }
  
  .grid-3, .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    padding: 1.4rem 1rem;
  }
}

/* Landscape */
@media(max-height: 500px) {
  .header-content .title, .header-content .text {
    display: none;
  }
  .header-content {
    top: 0;
  }
}
